body {
    margin: 0 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

main{
    width: 90%;
    min-width: min-content;
    margin:0 auto;
    display:flexbox;
}

header {
    background-color: #3c5ef5;
    color: white;
   
    font-size: x-large;
    padding: 3%;
}


#konsola {
    background-color: #f5f5f5;
    
    font-size: xx-large;
    display:flex;
    justify-content: center;
    align-items: center;
    min-height:  350px;
    
    

}

#konsola a{
    color:#5789d3;
    text-shadow: gray 1px 1px 1px ;
}
#konsola a:hover{
    color:#f8ae4d;
    text-shadow:#096581 1px 1px 1px ;
}

#konsola input[type=text]{
color:#3cadcf;
font-size: xx-large;
width: 200px;
}
#konsola input[type=button]{
    color:#83858d;
    font-size: xx-large;
    }

.reset_button{
    height: 200px;
}



#MOV_Section{
    min-height: 300px;
    background-color: #cdced4;
    padding: 3px;
    border: dashed 2px orange;
    display:flex;
    justify-content: center;
    align-items: center
    
    
    
}

#MOV_Section h2{
    color:white;
    text-shadow: orange 2px 2px;
    

}

#MOV_Section input{
    text-align: center;
        font-size: 18px;
        padding: 15px;
        width: 150px;
        transition: all 0.5s;
        color: orange;
        
        
        
        

}




footer {
    text-align: center;
    background-color: rgb(29, 29, 28);
    color: white;
    padding: 2%;



}

/* To Do: Polepszyć CSS */